<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
     <!-- css file -->
     <link rel="stylesheet" href="/Css/style.css">
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <!-- font awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <!-- JQuery datatables -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
         <a class="navbar-brand fs-2 fw-bold logoText" href="" ><span class="fw-bold fs-1">.</span><i class="fa-solid fa-blog"></i>l<span class="text-info">o</span>g</a> 
         <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto gap10px">
                <li class="nav-item">
                    <a class="nav-link active fw-bold text-white" aria-current="page" href="/"><i class="fa-solid fa-house"></i> HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold text-white" href="/about"><i class="fa-solid fa-circle-info"></i> ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold text-white" href="/ourTeam"><i class="fa-solid fa-people-group"></i> OUR TEAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold text-white" href="/contactUs"><i class="fa-solid fa-phone"></i> CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold text-white" href="/login"><i class="fa-solid fa-right-to-bracket"></i> LOGIN</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    
</body>
</html>